.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 4px;
  background-image: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
}

.btn-default {
  color: #333;
  border-color: #ccc;
  background-color: #fff;
}

.btn-primary {
  color: #fff;
  border-color: #357ebd;
  background-color: #428bca;
}

.btn-success {
  color: #fff;
  border-color: #4cae4c;
  background-color: #5cb85c;
}

.btn-danger {
  color: #fff;
  border-color: #d43f3a;
  background-color: #d9534f;
}

.btn-warning {
  color: #fff;
  border-color: #eea236;
  background-color: #f0ad4e;
}

.btn-info {
  color: #fff;
  border-color: #46b8da;
  background-color: #5bc0de;
}
